* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
ul {
    list-style-type:none;
    position:fixed;
    top:0;
    margin:0;
    padding:10px 0;
    width:100%;
    background-color:#ff534f;
    overflow:hidden;
    text-align: center;
}
li{
    float:left;
    margin:0 30px;
}
li a {
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size: 20px;
}
.rose{
    background-color:#ff534f;
    color:white;
}
li a:hover{
    background-color:#f67c01;
    color:white;
}
header {
    text-align: center;
}
#khana{
    text-align :center;
}
footer{
    background-color: #ff534f;
    color: white;
    padding : 10px;
}
